<section class="container">
    <div class="child-container">
        <div class="about-details">
            <div class="protfolio-image">
                <img src="../../../assets/images/my/my-image.jpeg" alt="">
            </div>
            <div class="about-info">
                <div class="about-title">
                    <h1>About Me</h1>
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidiei dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exeracita aation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                </div>
                <div class="show-more-info-button">
                    <a class="hire-btn" >
                        Hire me
                    </a>
                    <a class="cv-btn">
                        Download CV
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>