

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    // Poppins fonts
    // font-family: 'Poppins', sans-serif;

    // Montserrat fonts
    font-family: 'Montserrat', sans-serif;
}